**/TMP_NO_VERSIONING/*
**/TMP_NO_VERSIONING*

**/Plugins/Editor/JetBrains*

**/artifacts/**
build/**
.build_script/**
node_modules/**
.DS_Store
.npmrc
!Documentation~
!.Documentation
npm-debug.log
build.sh.meta
build.bat.meta
.idea/
.vs/
.vscode/

[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Uu]serSettings/

*.csproj
*.csproj.meta
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

VirtualCameraClient/obj
!Native~
!**/Native~/**/*.sln
Native~/**/x64/
**/Native~/**/*.xcframework

#Fastlane
VirtualCameraClient/builds/**

*.log
*.obj
*.tlb
*.tlog
*.exp
*.ilk
*.pdb
*.ilk.meta
*.exp.meta
*.idb
*.enc
*.recipe
*.FileListAbsolute.txt
*.iobj
*.ipdb
*.pdb.meta
*.lib
*.lib.meta

#packages-lock for demo and sample projects
packages-lock.json
*.exp
*.ilk
Packages/com.unity.live-capture/VideoStreamingServer/Plugins/NvEncPlugin.lib
